@font-face {
  font-family: 'Aktiv Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''), url('../../../public/fonts/AktivGrotesk-Black.ttf') format('truetype');
}

.fontAktivGrotesk {
  font-family: 'Aktiv Grotesk', sans-serif;
}
