/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/inter-v12-latin-regular.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../public/fonts/inter-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), url('../public/fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/inter-v12-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-regular.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply !leading-8;
}

@media only screen and (min-width: 768px) {
  p {
    @apply !leading-9;
  }
}

.text-outline-white {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}

.text-outline-white\/30 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  -webkit-text-fill-color: transparent;
}

.link-underline:after {
  background-color: #f5f5f5;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.link-underline:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* Footer */

.carousel {
  -webkit-animation: rotate 8s ease-in-out infinite;
  animation: rotate 8s ease-in-out infinite;
}

.footer-right-column-bg::before {
  @apply absolute top-0 left-0 hidden h-full w-[calc(50vw-0.5rem)] bg-prussian-blue content-[''];
}

@keyframes rotate {
  0%,
  30% {
    transform: translateY(0);
  }
  33.33%,
  63.33% {
    transform: translateY(-4.9rem);
  }
  66.66%,
  96.66% {
    transform: translateY(-9.9rem);
  }
  to {
    transform: translateY(-14.9rem);
  }
}

/* Clients */

.content-gradient::before,
.content-gradient::after {
  @apply absolute right-0 left-auto top-0 h-full w-full content-[''];
}

.content-gradient::before {
  @apply z-[2] bg-[url('/images/noise.png')];
}

.content-gradient--bottom-right::after {
  background: radial-gradient(
    100% 100% at 0 100%,
    rgba(88, 31, 15, 1) 0,
    rgba(255, 17, 82, 0) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* TODO: this is only temporarly */

.clients__item {
  @apply flex w-full items-center justify-center border-l border-t border-white/10 py-6 px-4;
}

.clients__image {
  height: 48px;
  width: 72px;
  @apply object-contain;
}

@media only screen and (min-width: 768px) {
  .clients__item {
    @apply py-8 px-4;
  }
  .clients__image {
    height: 72px;
    width: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .clients__item {
    @apply py-8 px-4;
  }
}

/* Philosophie */

.swiper-slide:not(.swiper-slide-active) .philosophy-number {
  -webkit-text-stroke: 1px #ff5003;
  -webkit-text-fill-color: transparent;
}

.swiper-slide-active .philosophy-number {
  @apply text-international-orange;
  -webkit-text-stroke: none;
}
