/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/inter-v12-latin-regular.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../public/fonts/inter-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), url('../public/fonts/inter-v12-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v12-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/inter-v12-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../public/fonts/inter-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''), url('../public/fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/inter-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/inter-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/inter-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/inter-v12-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-regular.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../public/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../public/fonts/poppins-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../public/fonts/poppins-v20-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../public/fonts/poppins-v20-latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply !leading-8;
}

@media only screen and (min-width: 768px) {
  p {
    @apply !leading-9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

input,
textarea {
  @apply bg-transparent;
}

/* Burger menu */

.burgerMenuClose {
  @apply absolute top-8 right-5 h-7 w-7;
}

.burgerMenuClose::before,
.burgerMenuClose::after {
  @apply absolute block h-[1px] w-full bg-white;
  content: '';
}

.burgerMenuClose::before {
  transform: rotate(45deg);
}

.burgerMenuClose::after {
  transform: rotate(-45deg);
}

.text-outline-white {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}

.text-outline-white\/30 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  -webkit-text-fill-color: transparent;
}

.text-outline-iron {
  -webkit-text-stroke: 1px #bebebe;
  -webkit-text-fill-color: transparent;
}

.link-underline:after {
  background-color: #f5f5f5;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.link-underline:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.link-no-underline:after {
  background-color: #f5f5f5;
  bottom: -4px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.group:hover .link-no-underline::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Footer */

.carousel {
  -webkit-animation: rotate 8s ease-in-out infinite;
  animation: rotate 8s ease-in-out infinite;
}

.footer-right-column-bg::before {
  @apply absolute top-0 left-0 hidden h-full w-[calc(50vw-0.5rem)] bg-prussian-blue content-[''];
}

@keyframes rotate {
  0%,
  30% {
    transform: translateY(0);
  }
  33.33%,
  63.33% {
    transform: translateY(-4.9rem);
  }
  66.66%,
  96.66% {
    transform: translateY(-9.9rem);
  }
  to {
    transform: translateY(-14.9rem);
  }
}

/* Clients */

.content-gradient::before,
.content-gradient::after {
  @apply absolute right-0 left-auto top-0 h-full w-full content-[''];
}

.content-gradient::before {
  @apply z-[2] bg-[url('/images/noise.png')];
}

.content-gradient--bottom-right::after {
  background: radial-gradient(
    100% 100% at 0 100%,
    rgba(88, 31, 15, 1) 0,
    rgba(255, 17, 82, 0) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Philosophie */

.swiper-slide:not(.swiper-slide-active) .philosophy-number {
  -webkit-text-stroke: 1px #ff5003;
  -webkit-text-fill-color: transparent;
}

.swiper-slide-active .philosophy-number {
  @apply text-international-orange;
  -webkit-text-stroke: none;
}

.gradient {
  background: no-repeat
      radial-gradient(94.76% 85.62% at 0% 100%, rgba(0, 63, 125, 0.5) 0%, rgba(0, 63, 125, 0) 100%),
    #040615;
}

/* Contact Me form */

.contact-form > div:not(:last-of-type) {
  @apply my-10;
}

.contact-form input,
.contact-form textarea {
  @apply mt-4 block w-full py-2 text-sm opacity-60 lg:text-xl;
}

.contact-form label {
  @apply font-poppins text-sm font-semibold tracking-[2px];
}

/* Contact Me information */

.contact-info {
  @apply flex flex-col gap-10 border-t border-[#1D1D2D] pt-12 sm:text-center lg:max-w-sm lg:border-t-0 lg:border-l lg:pl-24 lg:pt-0 lg:text-start xl:pl-32;
}

.contact-info h6 {
  @apply mb-[14px] font-poppins text-sm font-semibold uppercase tracking-[2px];
}

.contact-info p {
  @apply text-lg opacity-80;
}

.contact-info p + a {
  @apply mt-4;
}

.socials-list {
  @apply flex gap-3 sm:justify-center lg:justify-start;
}

.socials-list li {
  @apply rounded-full bg-prussian-blue transition-all hover:bg-prussian-blue/80;
}

.socials-list a {
  @apply flex items-center justify-center p-4;
}

/* Homepage philosophy section */

.philosophy {
  background-image: radial-gradient(
      94.76% 85.62% at 0% 100%,
      rgba(0, 63, 125, 0.5) 0%,
      rgba(0, 63, 125, 0) 100%
    ),
    linear-gradient(80.47deg, #040615 52.95%, rgba(4, 6, 21, 0) 140.68%),
    url(/images/photos/patrik-playing-tennis-cropped.jpg);
  background-position: 100% 30%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
  .philosophy {
    background-image: radial-gradient(
        94.76% 85.62% at 0% 100%,
        rgba(0, 63, 125, 0.5) 0%,
        rgba(0, 63, 125, 0) 100%
      ),
      linear-gradient(209.69deg, #040615 23.26%, rgba(4, 6, 21, 0) 326.34%),
      url(/images/photos/patrik-playing-tennis.jpg);
    background-position: 50% 50%;
    background-size: cover;
  }
}
